@import 'fonts.css';

*,
a {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'poppins';
}

*::before {
  font-family: 'icons';
  font-weight: 300;
}

.behance::before {
  content: '\f1b4';
}

.icon-user::before {
  content: '\f007';
}

.map-marker-alt::before {
  content: '\f3c5';
  font-weight: 900;
}

.caret-down::before {
  content: '\f0d7';
}

.google-play::before {
  content: '\f3ab';
}

.apple::before {
  content: '\f179';
}

.facebook-f::before {
  content: '\f39e';
}

.twitter::before {
  content: '\f099';
}

.linkedin-in::before {
  content: '\f0e1';
}

.angle-right::before {
  content: '\f105';
}

.long-arrow-left::before {
  content: '\f177';
}

.long-arrow-right-regular::before {
  content: '\f178';
  font-weight: 400;
}

.long-arrow-left-regular::before {
  content: '\f177';
  font-weight: 400;
}

.long-arrow-right-thin::before {
  content: '\f178';
  font-weight: 300;
}

.angle-down::before {
  content: '\f107';
  font-weight: 900;
}

:root {
  --darkBlue: #2E266F;
  --gray: #707070;
  --green: #31A24C;
  --black: #000000;
  --lightBeige: #FFF5EC;
  --beige: #FFEDDE;
  --themeColor: #FE043C;

  /* --themeColor: #35CD8C; */
}

.container {
  max-width: 1650px;
  margin: 0 auto;
}

body {
  background: #FDEBDC;
  position: relative;
}

.body-img img {
  max-width: 658.59px;
  width: 100%;
  transform: rotate(-111.53deg);
  position: absolute;
  top: -244px;
  left: -16px;
  z-index: -1;
}

.wrapp {
  max-width: 1920px !important;
  width: 100%;
  margin: 145px auto;
  background: var(--lightBeige);
  padding: 0;
  filter: drop-shadow(0px 35px 90px rgba(0, 0, 0, 0.25));
}

.body-img {
  width: 100%;
  overflow: hidden;
}

.navbar {
  position: relative;
  z-index: 1;
  margin-bottom: 48px;
}

.navbar__content {
  margin: 20px auto 0;
}

.navbar__content,
.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  max-width: 1207px;
  width: 100%;
  margin-left: auto;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  margin: 0;
}

.navbar .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 108px;
  text-align: center;
  color: var(--themeColor);
}

.navbar-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--darkBlue);
}

.navbar-list a:hover {
  color: var(--themeColor);
}

.header {
  position: relative;
  min-height: 1210px;
  display: flex;
  flex-direction: column;
  padding-bottom: 230px;
}

.header__contant_btn {
  position: absolute;
  left: 0;
  bottom: 210px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  background: var(--themeColor);
  border-radius: 0px 100px 100px 0px;
  width: 280px;
  height: 65px;
  transition: width 0.3s;
}

.header__contant_btn:hover {
  color: white;
  width: 300px;
}

.header__contant_btn::before {
  margin-right: 20px;
}

.header__bg-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--themeColor);
  width: 26%;
  z-index: 0;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user-img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  position: relative;
}

.header__user-img::after {
  content: '';
  width: 15px;
  height: 15px;
  background: var(--green);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.header__user p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
  margin-right: 7px;
  margin-bottom: 0;
}

.navbar-toggler {
  width: 40px;
  height: 20px;
  /* border: 2px solid #000; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 6.25px;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.navbar-toggler span {
  padding: 1px;
  width: 100%;
  height: 2.5px;
  background: white;
  display: block;
  border-radius: 10px;
}

.navbar-toggler span:nth-of-type(3) {
  width: 70%;
}

.header__contant {
  /* flex-grow: 1; */
  display: flex;
  align-items: flex-start;
}

.carousel-item__content {
  display: flex !important;
}

.carousel__item-1_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 878px;
  height: 870px;
}

.carousel__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.carousel__item-bg-file {
  background: url(../img/points.png);
  width: 300px;
  height: 300px;
}

.carousel__item-content_img {
  position: absolute;
  /* top: 0;
  left: 0;
  bottom: 0; */
}

.header-img_main {
  z-index: 1 !important;
  top: -16px;
  width: 100%;
}

.header-img_second {
  z-index: 0 !important;
  top: -187px;
  left: 208px;
}

.carousel-inner {
  overflow: unset;
}

.carousel__item-bg:nth-of-type(2) {
  top: 380px;
}

.carousel__item-1_text h1 a {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
  min-width: 735px;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  position: relative;
  padding-top: 200px;
  margin-top: 0px;
  margin-right: 80px;
}

.carousel__item-1_text h1 a::after {
  content: 'food';
  font-family: 'poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 200px;
  text-transform: capitalize;
  color: #2e266f;
  opacity: 0.05;
  position: absolute;
  top: 28px;
  left: -4px;
}

input::-webkit-input-placeholder {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
  opacity: 0.6;
}

input:-moz-placeholder {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
  opacity: 0.6;
}

input:-ms-input-placeholder {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
  opacity: 0.6;
}

.header__search {
  position: relative;
  max-width: 670px;
  /* margin: 0 auto; */
  padding: 0px;
  background: white;
}

.header__search input {
  padding-left: 50px;
  padding-right: 220px;
  max-width: 670px;
  border: none;
  width: 100%;
  height: 90px;
  background: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
  opacity: 0.6;
  outline: none;
}

.header__search button {
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 90px;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--themeColor);
  border-radius: 60px 0 0 0;
  width: 200px;
  height: 72px;
  position: absolute;
  top: 9px;
  right: 9px;
  bottom: 9px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.carousel-buttons {
  position: absolute;
  right: 40px;
  bottom: 0;
  display: flex;
  gap: 40px;
  width: 172px;
  height: 45px;
}

.carousel-control-prev,
.carousel-control-next {
  position: unset;
  /* background: green; */
  width: 100%;
}

.long-arrow-left-regular,
.long-arrow-right-regular {
  width: 45px;
  height: 45px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.long-arrow-left-regular::before,
.long-arrow-right-regular::before {
  color: white;
  font-size: 40px;
  opacity: 1;
  position: absolute;
  z-index: 10;
}

.long-arrow-left-regular::before {
  left: 15px;
  transition: left 0.3s;
}
.long-arrow-left-regular:hover::before {
  left: 13px;
}

.long-arrow-right-regular::before {
  left: -15px;
  transition: left 0.3s;
}
.long-arrow-right-regular:hover::before {
  left: -13px;
}




/* @media (max-width: 1995px) {
  .header__contant {
    flex-wrap: wrap;
  }
} */
@media (max-width: 1200px) {
  .wrapp {
    margin: 0;
  }
  .header {
    padding: 0 10px;
    min-height: unset;
    height: 100vh;
  }
  .navbar .logo {
    font-size: 60px;
    line-height: 90px;
  }
  .carousel__item-1_text h1 a {
    font-size: 60px;
    line-height: 70px;
    max-width: 757px;
  }
  .carousel__item-1_text h1 a::after {
    font-size: 150px;
    line-height: 225px;
  }
  .header__search {
    max-width: 462px;
  }
  .header__search input {
    padding-right: 190px;
    padding-left: 30px;
  }
  .header__search button {
    width: 146px;
  }
  .header-img_main {
    width: unset;
    max-width: 550px;
  }
  .header-img_second {
    width: unset;
    max-width: 320px;
    top: -130px;
    left: 100px;
  }
  .carousel__item-bg {
    width: unset;
    max-width: 264px;
  }
  .carousel__item-bg:nth-of-type(2) {
    top: 238px;
    /* display: none; */
  }
  .carousel__item-1_img {
    width: 509px;
    height: 580px;
  }
  .header__carousel {
    position: absolute;
    right: 55px;
    z-index: 0;
  }  
  .carousel__item-1_text {
    z-index: 1;
  }
  .carousel__item-1_text h1 a {
    min-width: 400px;
    max-width: 680px;
  }
  .header__contant_btn {
    bottom: 50px;
  }
  .navbar {
    padding-top: 0;
    margin-bottom: 20px;
  }
  .carousel-buttons {
    right: -18px;
    width: 172px;
  }
}


@media (max-width: 992px) {
  .body-img img {
    max-width: 600px;
  }

  .navbar .logo {
    font-size: 68px;
    line-height: 68px;
  }
}

@media (max-width: 720px) {
  .body-img img {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .body-img img {
    max-width: 260px;
  }

  .navbar .logo {
    font-size: 60px;
    line-height: 26px;
  }
}