@import 'fonts.css';

*,
a {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'poppins';
}

*::before {
  font-family: 'icons';
  font-weight: 300;
}

.behance::before {
  content: '\f1b4';
}

.icon-user::before {
  content: '\f007';
}

.map-marker-alt::before {
  content: '\f3c5';
  font-weight: 900;
}

.caret-down::before {
  content: '\f0d7';
}

.google-play::before {
  content: '\f3ab';
}

.apple::before {
  content: '\f179';
}

.facebook-f::before {
  content: '\f39e';
}

.twitter::before {
  content: '\f099';
}

.linkedin-in::before {
  content: '\f0e1';
}

.angle-right::before {
  content: '\f105';
}

.long-arrow-left::before {
  content: '\f177';
}

.long-arrow-right-regular::before {
  content: '\f178';
  font-weight: 400;
}

.long-arrow-left-regular::before {
  content: '\f177';
  font-weight: 400;
}

.long-arrow-right-thin::before {
  content: '\f178';
  font-weight: 300;
}

.angle-down::before {
  content: '\f107';
  font-weight: 900;
}

:root {
  --darkBlue: #2E266F;
  --gray: #707070;
  --green: #31A24C;
  --black: #000000;
  --lightBeige: #FFF5EC;
  --beige: #FFEDDE;
  --themeColor: #FE043C;

  /* --themeColor: #35CD8C; */
}

.wrapper {
  max-width: 1684px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}